<div class="container-fluid friendsListContainer">
		<div class="row">
			<div class="col-md-4">
				<div class="row listHeader">
					<img src="../img/conference.png" class="friendsListIcon">
					<div class="listTitle">My Friends</div>	
				</div>
			</div>
			<div class="col-md-8">
				<div class="row messageHeader">
					<div class="col-md-9 messageTitle">Chat with friend</div>
					<div class="col-md-3 messageIcons">
						<a ng-href="/#/friendsList"><img src="../img/add-user.png" class="headerIcon"></a>

						<a href="" ng-click="logout()"><img src="../img/logout.png" class="headerIcon"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row friendsListRow">
			<div class="col-md-4 friendsList">
				<div class="row">
					<div class="friendDetails">
						<ul class="media-list" ng-repeat="friend in myFriends">
	  						<a href="#/chat/{{friend.other._id}}"><li class="media">
							    <div class="col-md-3 media-left">
							        <img class="media-object" src="../img/test1.jpg">
							    </div>
							    <div class="media-body">
							    	<div class="media-heading friendName">{{friend.other.name}} {{friend.other.surname}}</div>
							    </div>
	  						</li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 messagePanel">
				<div class="row firstMessage" ng-repeat="msg in messages" ng-init="mine = msg.fromUser === UserService.userData._id">
					<img src="../img/test1.jpg" class="col-md-1" ng-if="!mine">
					<div class="col-md-2 text-center firstMessageTime" ng-if="mine">{{getMessageTime(msg.createdAt).format('LT')}}</div>
					<div class="col-md-8">
						<div >
							<textarea readonly class="form-control firstMessageText" ng-if="mine">{{msg.message}}</textarea>
							<textarea readonly class="form-control secondMessageText" ng-if="!mine">{{msg.message}}</textarea>
						</div>	
					</div>
					<div class="col-md-2 text-center firstMessageTime" ng-if="!mine">{{getMessageTime(msg.createdAt).format('LT')}}</div>
					<img src="../img/test1.jpg" class="col-md-1" ng-if="mine">
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea id="commentTxtArea" class="form-control messagePlaceholder" rows="4" placeholder="Comment here..." ng-model="msg"></textarea>
					</div>
				</div>
				<button class="btn btn-default pull-right messageSendBtn" ng-click="sendMessage()">SEND</button>
			</div>
		</div>
	</div>
