<div class="container-fluid friendsListContainer">
		<div class="row">
			<div class="col-md-4">
				<div class="row listHeader">
					<img src="../img/conference.png" class="friendsListIcon">
					<div class="listTitle">My Friends</div>	
				</div>
			</div>
			<div class="col-md-8">
				<div class="row messageHeader">
					<div class="col-md-8 messageTitle">Chat with Kiko</div>
					<div class="col-md-4 messageIcons">
						<a ng-href="/#/friendsList"><img src="../img/add-user.png" class="headerIcon"></a>
						<a href="#"><img src="../img/bell.png" class="headerIcon"></a>
						<a href="#"><img src="../img/gear.png" class="headerIcon"></a>
						<a href="" ng-click="logout()"><img src="../img/logout.png" class="headerIcon"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row friendsListRow">
			<div class="col-md-4 friendsList">
				<div class="row">
					<div class="friendDetails">
						<ul class="media-list" ng-repeat="friend in myFriends">
	  						<a href="#"><li class="media">
							    <div class="col-md-3 media-left">
							        <img class="media-object" src="../img/test1.jpg">
							    </div>
							    <div class="media-body">
							    	<div class="media-heading friendName">{{friend.other.name}} {{friend.other.surname}}</div>
							    </div>
	  						</li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 messagePanel">
				<div class="row firstMessage">
					<img src="../img/test1.jpg" class="col-md-1">
					<div class="col-md-8">
						<textarea class="form-control firstMessageText" rows="3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi "</textarea>	
					</div>
					<div class="col-md-2 text-center firstMessageTime">18:20 PM</div>
				</div>
				<div class="row secondMessage">
					<div class="col-md-2 text-center firstMessageTime">18:25 PM</div>
					<div class="col-md-8">
						<textarea class="form-control secondMessageText" rows="3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi "</textarea>	
					</div>
					<img src="../img/test1.jpg" class="col-md-1">
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea class="form-control messagePlaceholder" rows="4" placeholder="Comment here..."></textarea>
					</div>
				</div>
				<button class="btn btn-default pull-right messageSendBtn" ng-click="sendMessage()">SEND</button>
			</div>
		</div>
	</div>
