<div class="container-fluid">
	<div class="row">
		<nav class="homepageHeader">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6"></div>
				<div class="col-md-2">
					<a class="btn btn-default homepageBtn" type="button" ng-click="openModal()">Log In</a>
					<div class="modal-demo">
					<script type="text/ng-template" id="myLoginModalContent.html">
				        <div class="modal-header">
				            <h3 class="modal-title text-center" id="modal-title">LOG IN</h3>
				        </div>
				        <div class="modal-body-login" id="modal-body">
				           <div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<div class="form-group">
											<label for="username">Your Username</label>
											<input type="username" class="form-control" id="loginUsername" ng-model="$ctrl.user.username">
										</div>
										<div class="form-group">
											<label for="password">Your Password</label>
											<input type="password" class="form-control" id="loginPassword" ng-model="$ctrl.user.password">
										</div>
										<div>
											<div class="col-md-4"></div>
											<button type="submit" class="btn btn-default modalBtn col-md-4" id="loginButton" ng-click="$ctrl.login()">LOG IN</button>
											<div class="col-md-4"></div>	
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$ctrl.validUsername">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Please enter the correct username</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$ctrl.validPassword">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Please enter the correct password</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$ctrl.validInputs">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Please enter the correct credentials</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
									</form>
								</div>
								<div class="col-md-2"></div>
							</div>
				        </div>
				    </script>
				    </div>
				</div>

				<div class="col-md-2">
					<a class="btn btn-default homepageBtn" type="button" ng-click="openSignUpModal()">Sign Up</a>

					<div class="signUp-modal-dialog">
						<script type="text/ng-template" id="mySignUpModalContent.html">
				        <div class="modal-header">
				            <h3 class="modal-title text-center" id="modal-title">SIGN UP</h3>
				        </div>
				        <div class="modal-body-signup" id="modal-body">
				           <div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<form>
										<div class="form-group">
											<label for="signUpName">Your Name</label>
											<input type="name" class="form-control" id="signUpName" ng-model="$signupCtrl.user.name">
										</div>
										<div class="form-group">
											<label for="signUpSurname">Your Surname</label>
											<input type="surname" class="form-control" id="signUpSurname" ng-model="$signupCtrl.user.surname">
										</div>
										<div class="form-group">
											<label for="signUpEmail">Your Email</label>
											<input type="email" class="form-control" id="signUpEmail" ng-model="$signupCtrl.user.email">
										</div>
										<div class="form-group">
											<label for="signUpUsername">Your Username</label>
											<input type="username" class="form-control" id="signUpUsername" ng-model="$signupCtrl.user.username">
										</div>
										<div class="form-group">
											<label for="signUpPassword">Your Password</label>
											<input type="password" class="form-control" id="signUpPassword" ng-model="$signupCtrl.user.password">
										</div>
										<div>
											<div class="col-md-4"></div>
											<button type="submit" class="btn btn-default modalBtn col-md-4" id="signupButton" ng-click="$signupCtrl.signup()">SIGN UP</button>
											<div class="col-md-4"></div>	
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$signupCtrl.validName">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> The first name should contain only letters</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$signupCtrl.validSurname">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> The last name should contain only letters</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$signupCtrl.validEmail">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> The email should be in the correct format</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$signupCtrl.validUsername">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> The username should contain alphanumeric characters and be longer than 4 characters</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkCredentials" ng-if="!$signupCtrl.validPassword">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> The password should contain alphanumeric characters and be longer than 6 characters</span>
												<span class="sr-only">Error:</span>
											</div>
										</div>
									</form>
								</div>
								<div class="col-md-2"></div>
							</div>
				        </div>
				    </script>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<!-- Background image -->
	<div class="row homepageBackground">
		<img src="../img/frontpage.jpg" class="bg">
		<header class="headerBackground">
			<h1 class="introTextBackground">Hello World</h1>
			<p class="introParagraphBackground">You don't have to be alone.<br />
			Use Hello World and stay connected with your friends forever!</p>	
		</header>
	</div>

	<!-- Wizard -->
	<div class="row homepageWizard">
		<div class="homepageTitle text-center">How to use it</div>
		<div class="numberWizard text-center">
			<div class="number">
				<img src="../img/1.png">
				<div class="introNumberWizard animation">Send or receive friend request</div>
			</div>
			
			<div class="number">
				<img src="../img/2.png">
				<div class="introNumberWizard animation">Become friends</div>
			</div>
			<div class="number">
				<img src="../img/3.png">
				<div class="introNumberWizard animation">Chat!</div>
			</div>
		</div>
	</div>

	<!--Your ideas are welcome -->
	<div class="row feedbackForm">
		<div class="homepageTitle text-center">Your ideas are welcome!</div>
		<div class="row homepageForm">	
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form method="post">
					<div class="form-group">
						<label for="name">Your Name</label>
						<input type="name" class="form-control">
					</div>
					<div class="form-group">
						<label for="email">Your Email</label>
						<input type="email" class="form-control">
					</div>
					<div class="form-group">
						<label for="message">Message</label>
						<textarea class="form-control" rows="3"></textarea>
					</div>
					<a href="mailto:monikajandrevska@gmail.com"><button type="submit" class="btn btn-default homepageSubmitBtn">Submit</button></a>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

	<!--Footer -->
	<div class="row footer">
		<div class="socialMediaIcons text-center">
			<a href="https://github.com/mjandrevska/helloWorld" target="_blank"><img src="../img/github.png" class="githubIcon"></a>
			<a href="https://twitter.com/MJandrevska" target="_blank"><img src="../img/twitter.png" class="twitterIcon"></a>
		</div>
		<p class="footerText text-center">Licensed under the MIT Licence<br />
			Copyright &#169; 2016 Monika Jandrevska</p>
	</div>
</div>
